@import 'tailwindcss';

html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../static/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

input[type='file'] {
  @apply invisible file:visible w-30;
  @apply file:mr-5 file:py-2 file:px-4 file:border-1 file:rounded-md file:text-sm file:font-medium file:bg-stone-50 file:text-stone-700;
  @apply hover:file:cursor-pointer hover:file:bg-rose-50 hover:file:text-rose-700;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl;
}

p {
  margin: 0 0 1em 0;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

button:not([data-unstyled]) {
  @apply bg-rose-600 text-white px-4 py-2 rounded-md mx-4 my-2 cursor-pointer;
  &:hover {
    @apply bg-rose-700;
  }
  &:active {
    @apply bg-rose-800;
  }
  &:focus {
    @apply border-white;
  }
}

a {
  @apply text-rose-300 underline;
  &:hover {
    @apply text-rose-400;
  }
  &:focus {
    @apply text-rose-500;
  }
}
