@import 'tailwindcss';

html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../static/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* static background on scroll */
  color: white;
}

input[type='file'] {
  @apply bg-[rgba(0,0,0,0.5)] text-sm text-stone-400 file:mr-5 file:py-1 file:px-3 file:border-1 file:rounded-md file:text-xs file:font-medium file:bg-stone-50 file:text-stone-700 hover:file:cursor-pointer hover:file:bg-blue-50 hover:file:text-blue-700;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl;
}

p {
  margin: 0 0 1em 0;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
